{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="wrapper">

        <div class="aside">
            <ul class="ul-aside">
            <li class="li-aside text-center"><a href="./css">CSS &mdash; Cascading Style Sheets</a></li>
            <li class="li-aside text-center"><a href="./html">HTML &mdash; HyperText Markup Language</a></li>
            <li class="li-aside text-center"><a href="./javascript">JAVASCRIPT &mdash; prototyp-baserat skriptspråk</a></li>
            <li class="li-aside text-center"><a href="./php">PHP &mdash; PHP Hypertext Preprocessor</a></li>
            <li class="li-aside text-center"><a href="./python">PYTHON &mdash; dynamiskt typad generell programmeringsspråk</a></li>
            <li class="li-aside text-center"><a href="./git">GIT &mdash; distribuerat versionshanteringssystem</a></li>
            <li class="li-aside text-center"><a href="./sqlite">SQLITE &mdash; filbaserad databas som använder sig av SQL.</a></li>
            </ul>
        </div>
        <div class="article">
        {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
