@media (max-width: 767px) {
    .span-1 {
        grid-column: span 3;
    }
    
    .span-2 {
        grid-column: span 3;
    }
    
    .span-3 {
        grid-column: span 3;
    }

    div.aside {
        display: none;
    }
}