$fa-font-path: '../../shared/fontawesome/webfonts';
$google-font-path: '../../shared/fonts';

@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'fonts'; /*Downloaded the font for extra credit*/

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: 'Inconsolata', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.index {
    max-width: 1200px;

}

.center {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.me {
    max-width:25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.small {
    font-size: 0.5rem;
}