$fa-font-path: '../../shared/fontawesome/webfonts';
$google-font-path: '../../shared/fonts';

@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';

@import 'variables-dark';
@import 'fonts'; /*Downloaded the font for extra credit*/
@import 'code';
@import 'technology-dark';
@import 'subtechnology-dark';
@import 'analysis-dark';
@import 'about-dark';
@import 'gallery';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    color: $font-color;
    font-family: 'Inconsolata', monospace;
}

.nav-ul{
    background-color: $comp2;
    border: 2px dotted $font-color;
    border-radius: 2px;
}

html, body {
    height: 100%;
    line-height: 1.4rem;
}

a, a:visited {
    color: $font-color;
}

.nav-ul a {
    color: $soft-white;
}


a:hover {
    font-weight: bolder;

}

body {
    background-color: $comp1;
    overflow-y: scroll;    /* Always display scrollbar, avoid hopping pages */
}

body:after {
    content: "";
    background: url($background-image-url);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.hidden {
    display: none !important;
}

p {
    line-height: 1.4rem;
}

.header {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.social {
    color: $icon-color;
    border: 2px dotted $font-color;
    background-color: $comp2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.2rem;
    padding-bottom: 0;
    max-width: 35%;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    gap: 2rem;
}

.social a i {
    color: $soft-white;
}

.footer {
    background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: $comp2;
}

a .site-title {
    color: $tag-white;
}

a .site-title:hover {
    font-size: 1.3rem;
    font-weight: lighter;
}

.index {
    max-width: $max-width;
    background-color: $background-color;
    padding: 1.4rem;
    border: 1px dotted $font-color;
    border-radius: 2px;
    margin-top: 1.4rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.me {
    max-width:25%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: fit-content;
    margin-right: auto;
    max-width: 200px;
    filter: brightness(.8) contrast(1.2);
}

.small {
    font-size: 0.8rem;
}

.title {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.title a {
    text-decoration: none;
}

.title h1 {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.main {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-bottom: 0.5rem;
}

.site-header {
    width: 100%;
}

.site-header::after {
    content: "";
    background: url($background-image-url);
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.text-center {
    text-align: center;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.fa.fa-bars, .fa.fa-times {
    color: $nav-color;
}

@import 'mobile-responsiveness';
