$comp1: #111814;
$comp2: #181115;
$comp2-stronger: #5b5459;

$soft-white: #e0e0e0;
$tag-white: #B9B9B9;
$background-color: $soft-white;
$background-softer: $soft-white;
$background-darker: #494949;
$icon-color: $soft-white;

$border-color: $comp2;

$font-color: $comp2;
$font-color-3: $comp2;
$font-alternative-color: #fff;
$link-color: $comp2-stronger;
$link-color-2: $background-color;
$nav-color: $soft-white;
$accent-color: #ee6c4d;

$reset-color: #fff;

$header-color: $font-color;
$code-background: $background-softer;

$max-width: 1200px;

$background-image-url: "../../../assets/img/1k_Dissolve_Noise_Texture.png";

// /*Triad color scheme*
//  #0b0bff  #0bfe0b  #fe0b0b https://pinetools.com/split-complementary-colors */