.analysis-main{
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4rem;
    padding: 1.4rem;
    background-color: $reset-color;
}

.analysis {
    position: relative;
    left: 1.25rem;
}

.ol-analysis {
    position: relative;
    left: 1.5rem;
}

.analysis-container{
    margin-bottom: 2rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border: 1px dashed $font-color;
}

.analysis-h1 {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: $comp2;
    padding: 0.5rem;
    text-align: center;
}

.analysis-h3 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.35rem;
}

.analysis-h4 {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 0.35rem;
}

.text {
    font-family: "proxima-nova","Helvetica",arial,sans-serif;
}

.analysis-row {
    display: flex;
    flex-direction: column;
}

// .analysis-row p {
//     margin-left: auto;
//     margin-right: auto;
// }

.analysis-img {
    flex: 1 1 auto;
    overflow-y: auto;
}

.img-2 {
    max-width:49%;
}

.img-3 {
    max-width:32%;
}

.img-padded{
    padding-left: 0.25rem;
}
